.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.receipt_header {
    margin-top: 5px;
}

.nav-wrapper {
    background-color: blue !important; 
}

.brand-logo {
    margin-left: 650px;
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
}
