{% extends 'base.html'%} {% block content %}
<div class="row">
    <ul class="collapsible" data-collapsible="accordion">
        {% for receipt in receipts %}
        <li>
            <div class="collapsible-header">
                
                <div class=" receipt_header col s9">
                    <strong>{{receipt.site_name}}</strong> - {{receipt.issue_date}}
                </div>
                <div class="col s3">
                    <i class="material-icons">expand_more</i>
                    <a href="{{url_for('delete_receipt', receipt_id=receipt._id)}}" class="waves-effect waves-light btn btn_small">Erase</a>
                    <a href="{{url_for('edit_receipt', receipt_id=receipt._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                    Vehicle: {{receipt.vehicle_id}} 
                </span>
                <br>
                <span>
                    Employee: {{receipt.employee_id}} 
                </span>
                <br>
                <span>
                    Quantity: {{receipt.quantity}} Gallons
                </span>
                
            </div>
        </li>
        {% endfor %}

    </ul>
</div>
{% endblock %}