{% extends 'base.html'%} {% block content %}

<div class="row">

    <h4>Fueling Sites</h4>
    <div class="row">
    <a href="{{url_for('add_site')}}" class="waves-effect waves-light btn">
        <i class="material-icons right">playlist_add</i>Add a new Site
    </a>
    </div>
    <ul class="collapsible" data-collapsible="accordion">
        {% for site in sites %}
        <li>
            <div class="collapsible-header">
                <a href="{{url_for('delete_site', site_id=site._id)}}" class="waves-effect waves-light btn btn_small">Del</a>
                <a href="{{url_for('edit_site', site_id=site._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>

                <div class="receipt_header">
                    <strong>{{site.site_name}}</strong>
                </div>
            </div>
        </li>
        {% endfor %}

    </ul>
</div>

{% endblock %}