{% extends 'base.html'%} {% block content %}
<div class="row">
    <ul class="collapsible" data-collapsible="accordion">
        {% for task in tasks %}
        <li>
            <div class="collapsible-header">
                
                <div class=" task_header col s9">
                    <strong>{{task.category_name}}</strong> - {{task.issue_date}}
                </div>
                <div class="col s3">
                    <i class="material-icons">expand_more</i>
                    <a href="{{url_for('delete_task', task_id=task._id)}}" class="waves-effect waves-light btn btn_small">Erase</a>
                    <a href="{{url_for('edit_task', task_id=task._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                    Equipment: {{task.equipment_id}} 
                </span>
                <br>
                <span>
                    Employee: {{task.employee_id}} 
                </span>
                <br>
                <span>
                    Quantity: {{task.quantity}} Gallons
                </span>
                
            </div>
        </li>
        {% endfor %}

    </ul>
</div>
{% endblock %}